/* Tampilan untuk layar dengan lebar kurang dari atau sama dengan 576px */
@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 20px;
    }
}

/* Tampilan untuk layar dengan lebar antara 577px dan 992px */
@media (min-width: 577px) and (max-width: 992px) {
    .container {
        max-width: 80%;
        padding: 30px;
    }
}

/* Tampilan untuk layar dengan lebar lebih dari 992px */
@media (min-width: 993px) {
    .container {
        max-width: 500px;
        margin: 0 auto;
        padding-top: 50px;
    }
}

body {
    background-color: #f8f9fa;
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding-top: 50px;

    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #343a40;
    font-weight: 600;
}

.form-group {
    margin-bottom: 30px;
}

.form-group label,
.btn-convert,
.result {
    font-family: "Poppins", sans-serif;
}

.btn-convert {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.btn-convert:hover {
    background-color: #0056b3;
}

.result {
    padding: 20px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: relative;
}

.loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.result.loading .loading-overlay {
    opacity: 1;
    visibility: visible;
}

.preview-container {
    text-align: center;
    margin-bottom: 20px;
}

.preview-image {
    max-width: 100%;
    max-height: 300px;
    border-radius: 4px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    font-size: 14px;
    color: #888;
    padding: 20px 0;
}

.footer a {
    color: #888888;
}
